body {
    font-family: Arial, sans-serif;
    margin: 30px;
}

.container {
    display: flex;
    gap: 20px;
    margin-top: 20px;
}

.panel {
    flex: 1;
    border: 2px solid #aaa;
    padding: 20px;
    min-height: 300px;
    border-radius: 8px;
}

.url-box {
    width: 90%;
    padding: 8px;
}

iframe {
    width: 100%;
    height: 450px;
    border: none;
}

input #mat {
    padding: 8px;
}
